body {
    color: #383838;
    font: 600 14px/24px "Montserrat", "Lato", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
/*    background: #383838;*/
}
.box {
    border: thick solid #383838;
    opacity: 0.5;
    cursor: pointer;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition-property: border-color;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    z-index: 1;
}
.box:hover {
/*    background: #ffffff;*/
    color: #2c82ff;
    border: thick solid #2c82ff;
}
ul {
    list-style:none;
    padding-left:0;
}

img{
    width: 300px;
	height: 300px;

}
li {
    opacity: 0.6;
/*	background: black;*/
	width: 300px;
	height: 300px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    z-index: 20;
}

li:hover {
    opacity: 1;
    width: 300px;
    height: 300px;
}



#allProjects{
    background-repeat: repeat-x;    
    height:121px;
    width: 80%;
    margin-left: 20px;
    margin-top: 13px;
}

#allProjects .project{    
    width: 300px; 
    height: 300px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

#allProjects .light a {
    position:absolute;
    bottom: 0px;
    display: none;
/*    left: 10px;*/
    padding-left: 15px;   
    padding-top: 15px;
    width: 300px;
    height: 20%;
    background-color: rgba(25, 29, 32, 0.5);
    color:#fff;
    
}
#allProjects .dark a {
    position:absolute;
    bottom: 0px;
    display: none;
/*    left: 10px;*/
    padding-left: 15px;   
    padding-top: 15px;
    
    width: 300px;
    height: 20%;
    background-color: rgba(248, 248, 248, 0.5);
    color:#000;
    
}
#allProjects .project a:hover{
    text-decoration: none;
}